# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
*/lib/
ionic.config.json
.io-config.json
**/.DS_Store
ionic.project

!platforms/android/AndroidManifest.xml
