<div class="backgroundColor">
    <div>

        <h1 id="header">Angiv resultat</h1>

    </div>
    <ion-scroll id="feedbackScroller">
        <div class="list languageMenu tpDivBackground">

            <div id="feedbackDiv" class="item item-thumbnail-left" ng-click="setSmileyValue(5)">

                <img id="feedbackImg" src="img/smilies/smile_1.png">
                <h2>Rigtig Godt</h2>

            </div>
            <div id="feedbackDiv" class="item item-thumbnail-left" ng-click="setSmileyValue(4)">

                <img id="feedbackImg" src="img/smilies/smile_2.png">
                <h2>Godt</h2>

            </div>
            <div id="feedbackDiv" class="item item-thumbnail-left" ng-click="setSmileyValue(3)">

                <img id="feedbackImg" src="img/smilies/smile_3.png">
                <h2>Okay</h2>

            </div>
            <div id="feedbackDiv" class="item item-thumbnail-left" ng-click="setSmileyValue(2)">

                <img id="feedbackImg" src="img/smilies/smile_4.png">
                <h2>Dårligt</h2>

            </div>
            <div id="feedbackDiv" class="item item-thumbnail-left" ng-click="setSmileyValue(1)">

                <img id="feedbackImg" src="img/smilies/smile_5.png">
                <h2>Rigtig Dårligt</h2>

            </div>

        </div>
    </ion-scroll>
</div>