<div class="bg-blue-shoes">
    <wd-header title="lang.getText('painLevel')"></wd-header>

    <div id="pain-section">
        <div class="pain-level-text">
            <p>{{notes.getPainLevelDescription()}}</p>
        </div>

        <div>
            <input id="pain-slider" type="range" min="0" max="10" step="1" ng-model="notes.painValue">
        </div>

        <div class="pain-level-text" ng-style="notes.getPainLevelColor()">
            <p>{{lang.getText('yourPain')}}: {{notes.painValue || 5}}</p>
        </div>
    </div>

    <div class="wide-button blue-button notes-button" ng-click="tabs.continue()">
        <p class="content-font">{{lang.getText('continue')}}</p>
    </div>
</div>