<div class="bg-blue-to-green">
    <wd-header title="lang.getText('headerTitle')"></wd-header>

    <form id="login-form" action="#" ng-submit="user.login()">
        <input ng-change="{{user.setUserScreenNumber()}}" id="setUserScreenNumber" ng-model="user.userScreenNumber" type="text" placeholder="ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ID'">
    </form>

    <img src="img/wd-logo.png" id="login-logo"></img>

    <a ng-click="user.login()">
        <div class="wide-button blue-button">
            <p class="content-font">Log In</p>
        </div>
    </a>
</div>