<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-person placeholder-icon"></i>
    <input ng-model="id" type="password" placeholder="Login ID" style="text-align:right">
  </label>
</div>

<img src="img/btn-login.png" style="width:20em" ng-click="login()"></img>

<!-- <div>
  <button ng-click="login()" class="button button-large button-balanced icon ion-ios-checkmark-outline" style="margin-right:2.5em">
    Login
  </button>

  <button ng-click="logout()" class="button button-large button-assertive icon ion-ios-close-outline">
    Logout
  </button>
</div> -->
