<div class="backgroundColor">

  <div class="row">
    <div class="col">
      <h2 id="header">{{getText('trainingDemoTitle')}}</h2>
    </div>
  </div>

  <button ng-click="downloadMedia('https://welfaredenmark.blob.core.windows.net/exercises/Exercises/05_left/speak/en-GB/speak.mp3', 'test.mp3')" style="font-size:2em; border-radius:50%; font-weight:bold; background-color:#ff00d6; color:#1400ff; position: relative; left:2em; display:inline;">DOWNLOAD</button>

  <button ng-click="removeMedia()" style="font-size:2em; border-radius:50%; font-weight:bold; background-color:#ff5c00; color:#00ff5e; position: relative; right:-2em; display:inline;">REMOVE</button>
  </br>

  <audio src="{{audio}}" type="audio/mpeg" autoplay></audio>

  <video id="playerID" class="video-positioning" src="{{videoFile}}" type="video/mp4" controls autoplay loop></video>

  <div class="row">
    <div class="col ">
      <div class="darkTransparent">
        <p id="traningDemoDescription" class="text-white">{{trainingDescription()}}
          <p>
      </div>
    </div>
  </div>
</div>
