<div class="backgroundColor">
    <ion-scroll style="height:84.11187vh">
        <div class="list languageMenu" >
            <div class="item item-thumbnail-left" ng-repeat="lang in langs" ng-click="selectLanguage(lang)">
                
                <img src="{{lang.url}}">
                <h2 class="text-white">{{lang.language}}</h2>
            </div>
        </div>

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/UK.png">-->
            <!--    <h2 class="text-white">English</h2>-->

            <!--</div>-->

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/GER.png">-->
            <!--    <h2 class="text-white">Deutsch</h2>-->
            <!--</div>-->
            
            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/DK.png">-->
            <!--    <h2 class="text-white">Dansk</h2>-->
            <!--</div>-->

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/UK.png">-->
            <!--    <h2 class="text-white">English</h2>-->
            <!--</div>-->

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/GER.png">-->
            <!--    <h2 class="text-white">Deutsch</h2>-->
            <!--</div>-->
            
            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/DK.png">-->
            <!--    <h2 class="text-white">Dansk</h2>-->
            <!--</div>-->

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/UK.png">-->
            <!--    <h2 class="text-white">English</h2>-->
            <!--</div>-->

            <!--<div class="item item-thumbnail-left">-->
            <!--    <img src="img/flags/GER.png">-->
            <!--    <h2 class="text-white">Deutsch</h2>-->
            <!--</div>-->
    </ion-scroll>
</div>
