<!DOCTYPE html>
<html>

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="lib/components/angular-material/angular-material.css">
<link href="lib/components/font-awesome/font-awesome.css">

<head>
    <!--  favicon.ico missing bug fix -->
    <link rel="shortcut icon" href="">

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="app/app.js"></script>
    <script src="app/help/helpController.js"></script>
    <script src="app/home/homeController.js"></script>
    <script src="app/login/loginController.js"></script>
    <script src="app/tabsController.js"></script>
    <script src="app/popupService.js"></script>
    <script src="app/trainingPlan/trainingPlanController.js"></script>
    <script src="app/trainingInstruction/trainingInstructionController.js"></script>
    <script src="app/languageController.js"></script>
    <script src="lib/components/angular-material/angular-material.js"></script>
    <script src="lib/components/jquery/dist/jquery.js"></script>
    <script src="lib/components/sjcl/sjcl.js"></script>
</head>

<body ng-app="kosmoramaApp">
    <ion-pane>
        <div ng-controller="LoginController">
            <div ng-controller="HelpController">
                <div ng-controller="LanguageController">
                    <ion-header-bar class="accent-color">
                        <img id="headerImg" src="img/logo.png">
                    </ion-header-bar>

                    <div style="margin-top:3em">
                        <help id="helpSection" style="display:none"></help>
                        <ion-nav-view></ion-nav-view>
                    </div>

                    <ion-tabs ng-controller="TabsController" class="tabs-icon-top">
                        <ion-tab ng-if="showHelpTab" title="Help" ng-click="help(); helpToggle()" icon="ion-help"></ion-tab>
                        <ion-tab ng-if="showHomeTab" title="Home" icon="ion-home"></ion-tab>
                        <ion-tab ng-if="showLogoutTab" title="Logout" ng-click="logout(); loginToggle()" icon="ion-log-out"></ion-tab>
                        <ion-tab ng-if="showLoginTab" title="Login" ng-click="login(); loginToggle()" icon="ion-log-in"></ion-tab>
                    </ion-tabs>
                </div>
            </div>
        </div>
    </ion-pane>
</body>

</html>
