<div class="bg-blue-shoes">
	<wd-header title="lang.getText('notesTitle')"></wd-header>

	<div id="notesArea">
		<textarea maxlength="{{notes.maxChars}}" ng-focus="notes.clearContent($event)" ng-blur="notes.revertContent($event)" ng-model="notes.messageText" ng-change="notes.remainingChars()" placeholder="{{lang.getText('notesPlaceholder')}}">
		</textarea>

		<p>{{lang.getText('remainingChars')}}<span id="showCharsCount" ng-style="notes.getRemainingCharsColor()">{{notes.maxChars}}</span></p>
	</div>

	<div class="wide-button blue-button notes-button" ng-click="tabs.continue()">
		<p class="content-font">{{lang.getText('notesSend')}}</p>
	</div>
</div>