<div class="bg-blue-to-brown">
    <wd-header title="lang.getText('trainingPlan')"></wd-header>

    <ion-scroll>
        <div class="spaced-list" class="list">
            <div ng-repeat="item in training.TrainingItems" ng-if="training.isToday(item.date)">

                <!-- Pas title item -->
                <div id="pas-title" class="item" ng-if="item.passTitle">
                    <h1 class="white-text">{{lang.getText('passText')}} {{item.passTitle}}</h1>
                </div>

                <!-- Training item -->
                <div class="item item-thumbnail-left" ng-if="!item.passTitle">
                    <img ng-if="item.ExerciseId" ng-src="{{training.getPicture(item.ExerciseId)}}">
                    <div ng-if="item.ExerciseId">
                        <p class="cyan-text">{{training.getTrainingName(item)}}</p>
                        <hr style="border-color: #005D91" />
                        <h3 class="white-text">{{lang.getText('trainingPlanSets')}}{{item.Sets}}</h3>
                        <h3 class="white-text">{{lang.getText('trainingPlanDuration')}}{{training.formatTime(item)}}</h3>
                    </div>
                </div>
            </div>

            <!-- Empty gap to allow for reading the bottom training items. -->
            <div style="height: 50vh;"></div>
        </div>
    </ion-scroll>
    <div id="list-gradient"></div>

    <div class="round-border">
        <div class="round-button" ng-click="tabs.continue()">
            <p class="content-font">{{lang.getText('start') | uppercase}}</p>
        </div>
    </div>
</div>
