<div class="backgroundColor">
  <a href='#/mail'>
    <i id="mail-link" class="accent-color ion-email">
            <div id="numberOfMails">{{home.newMailCount}}</div>
        </i>
  </a>

  <audio src="{{home.getAudio('prompt')}}" type="audio/mpeg" autoplay="autoplay"></audio>

  <button type="button" ng-click="home.onNetworkChange()" style="height:3em; position:relative; left:6em; top:8em;" ng-model="home.onlineStatus">OFFLINE / ONLINE</button>

  <a href="#/trainingPlan" ng-click="tabs.setTabs()">
    <img id="center-img" src="img/home_logo.png"></img>
  </a>
</div>
