#button-start {
    position: relative;
    margin-top: 4vh;
}

.round-image {
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    border: solid #19DC19 5px;
}