header {
    height: 10vh;
}

#wd-title {
    display: inline-block;
    transform: translateX(-50%);
    margin-left: 47%;
    padding-top: 5.5vh;
    height: auto;
    width: auto;
    white-space: nowrap;
}

#wd-title p {
    display: inline;
    position: relative;
    top: -1vh;
    left: 1vh;
    font-size: 3vh;
    color: white;
}

#wd-logo {
    display: inline-block;
    width: 7vh;
    height: 7vh;
    position: absolute;
    top: 1.5vh;
    left: 3vh;
}