#pain-section {
    margin-top: 10vh;
}

.pain-level-text {
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 15vh;
    text-align: center;
    font-size: 10vw;
    line-height: 1;
    color: white;
    font-weight: bold;
}

.notes-button {
    position: absolute;
    left: 50%;
    bottom: 11vh;
    transform: translateX(-50%);
}

#notesArea {
    display: block;
    margin: auto;
    margin-top: 5vh;
}

#notesArea textarea {
    margin: auto;
    padding: 2vh;
    width: 90%;
    height: 50vh;
    font-size: 3vh;
    line-height: 1;
    resize: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

#notesArea p {
    margin-left: 10%;
    font-weight: bold;
    margin-top: 2vh;
    font-size: 3vh;
}