.round-progress {
    position: absolute;
    top: 65vh;
    display: block;
    margin: auto;
}

.progress-wrapper {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
}

.progress-content {
    position: absolute;
    bottom: 30%;
    left: 50%;
    height: 15vh;
    transform: translateX(-50%);
    text-align: center;
    font-size: 9vh;
    overflow: visible;
    color: white;
    line-height: 1;
    white-space: nowrap;
}

.progress-content p {
    display: block;
}

.small-text {
    font-size: 3vh;
}