#pas-title {
    margin-top: 3vh;
}

#pas-title h1 {
    margin: auto;
    padding-left: 15%;
}

#list-gradient {
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: 50vh;
    z-index: 2;
    background: linear-gradient(transparent, #303C50);
    pointer-events: none;
    user-select: none;
}

.icon-position {
    left: 0.5vh;
}